{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<section class="collectionsHeading">
    <img id="collectionsSlashes1" src="https://cdn.shopify.com/s/files/1/0550/1871/7362/files/2VerticalLines.png?v=1656372969">
    <h1>Collections</h1>
    <img id="collectionsSlashes2" src="https://cdn.shopify.com/s/files/1/0550/1871/7362/files/3VerticalLines.png?v=1656372970">
</section>

{% section 'collection' %}






{% comment %}
  {% section 'list-collections-template' %}
{% endcomment %}

